installer_files/Installer_XML/externalized_data.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="class">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pageHeading" type="xs:string" maxOccurs="1" minOccurs="0"/>
        <xs:element name="pageSubHeading" type="xs:string" maxOccurs="1" minOccurs="1"/>
        <xs:element maxOccurs="unbounded" name="fields">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fieldType" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="label" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="defaultValue" maxOccurs="1" minOccurs="1"/>
              <xs:element name="tooltip" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="required" type="xs:boolean" maxOccurs="1" minOccurs="1"/>
              <xs:element name="requiredErrorMsg" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="regexPattern" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="regexInvalidErrorMsg" type="xs:string" maxOccurs="1" minOccurs="1"/>
	      <xs:element name="advanceRequired" type="xs:boolean" maxOccurs="1" minOccurs="1"/>
              <xs:element name="labelForPdf" type="xs:string" maxOccurs="1" minOccurs="1"/>
	      <xs:element name="needIpPortValidation" type="xs:string" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
